* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }

Html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    justify-content: center;
}
/* Navbar */
.navbar {
    margin: 0;
    padding: 0;
    background-color: #0b004b4f;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    right: 0;
    display: flex;
    font-family: "Poppins", sans-serif;
    height: 90px;
    color: #eec71a;
    position: fixed;
    z-index: 1000;
    transition: background-color 0.5s ease, opacity 0.6s ease;
}

.logo {
    display: flex;
    align-items: center;
    transform: translateX(-17%);
}

.logo p {
    transform: translateX(-65%);
    font-size: 23px;
    font-weight: 600;
}

.logo p span {
    color: #fff;
}

.logo img {
    transform: scale(20%);
}

.navbar ul {
    display: flex;
    text-decoration: none;
}

.navbar ul li {
    margin-right: 40px;
    list-style: none;
    text-decoration: none;
    font-size: 19px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.navbar ul li a:hover {
    color: #eec71a;
}

.navbar-color {
    background-color: #0f005a;
    transition: ease-in-out 0.5;
}

.navbar .list {
    font-size: 36px;
    display: none;
}

/* Judul */
.judul {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.judul .img {
    background-image: url(Img/Web.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1; 
}

.judul .text-judul {
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.623);
    font-family: "Poppins", sans-serif;
}

.judul .text-judul p {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #eec71a;
    font-weight: 500;
}

.judul .text-judul h6 {
    color: #eec71a;
    margin-bottom: 10px;
}

.judul::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    background: linear-gradient(
      0deg,
      #040018 8%,
      rgba(255, 255, 255, 0) 50%
    );
}

/* biodata */
.anggota {
    color: #fff;
    font-family: "Poppins", sans-serif;
    background-color: #040018;
}

.anggota .awal {
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #040018;
    height: 170px;
    padding: 30px;
}

.anggota .awal h1 {
    font-size: 35px;
    color: #eec71a
}

.anggota .awal p {
    font-size: 20px;
    font-weight: 700;
}

/* card */
.anggota .card {
    display: flex;
    justify-content: center;
    height: 400px;
}

.anggota .card .card-menu {
    text-align: center;
}

.anggota .card .card-menu img {
  border-radius: 20%;
  width: 60%;
}

.anggota .card .card-menu .card-title {
    margin-top: 40px;
}

.anggota .card .card-menu button {
    margin-top: 5px;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    background-color: #eec71a;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.anggota .card .card-menu button a {
    color: #000;
}

.anggota .card .card-menu button:hover{
    transform: scale(0.9);
    background-color: #b99f2a;
}

.anggota::after {
    content: "";
    display: block;
    position: absolute;
    height: 20%;
    width: 100%;
    transform: translateY(520%);
    bottom: 0;
    background: linear-gradient(
      0deg,
      #000000 8%,
      rgb(4, 0, 24) 50%
    );
}

/* About Us */
.about {
    font-family: "Poppins", sans-serif;
}

.about .about-us {
    justify-content: center;
    margin-top: 55px;
}

.about .about-us h1 {
    text-align: center;
    color: #fff;
    font-size: 34px;
}

.about .about-us h1 span {
    color: #eec71a;
}

/* About-card */
.about .flex-card .about-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.about .flex-card .about-card img {
    width: 20%;
    height: 20%;
    border-radius: 20%;
}

.about .flex-card .about-card .about-text {
    color: #fff;
    margin-bottom: 100px;
    margin-left: 30px;
}

.about .flex-card .about-card .about-text h2 {
    font-size: 40px;
    text-align: left;
}

.about .flex-card .about-card .about-text p {
    width: 600px;
    text-align: left;
}

/* mirror */
.about .flex-card .about-card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    flex-direction: row-reverse;
    background-size: cover;
}

.about .flex-card .about-card1 img {
    width: 20%;
    height: 20%;
    border-radius: 20%;
}

.about .flex-card .about-card1 .about-text {
    color: #fff;
    margin-bottom: 100px;
    margin-left: 30px;
}

.about .flex-card .about-card1 .about-text h2 {
    font-size: 40px;
}

.about .flex-card .about-card1 .about-text p {
    width: 600px;
}

.about .flex-card .about-card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.about .flex-card .about-card1 img {
    width: 20%;
    height: 20%;
    border-radius: 20%;
}

.about .flex-card .about-card1 .about-text {
    color: #fff;
    margin-bottom: 100px;
    margin-right: 30px;
}

.about .flex-card .about-card1 .about-text h2 {
    font-size: 40px;
    text-align: right;
}

.about .flex-card .about-card1 .about-text p {
    width: 600px;
    text-align: right;
}

/* footer */
.footer {
    background-color: #eec71a;
    font-family: "Poppins", sans-serif;
    margin-top: 130px;
    padding: 30px 0 30px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer h3 {
    text-align: center;
    color: #000;
    font-size: 20px;
}

.footer .icon {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footer p {
    font-size: 10px;
    font-weight: 600;
}

.footer .icon a img:hover {
    filter: invert(1);
}

@media only screen and (max-width: 600px) {

/* navbar */
.navbar {
    margin: 0;
    padding: 0;
    background-color: #040018;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    right: 0;
    display: flex;
    font-family: "Poppins", sans-serif;
    height: 90px;
    color: #fff;
    position: fixed;
    z-index: 1000;
    transition: background-color 0.5s ease, opacity 0.6s ease;
}

.navbar-color {
    background-color: #0f005a;
    transition: ease-in-out 0.5;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px; 
}

.logo p {
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
    color: #eec71a;
}

.logo p span {
    color: #fff;
}

.logo img {
    width: 150px; 
    height: auto;
    margin-right: 25px; 
}

.logo p {
    margin-bottom: 10px;
}

.navbar ul {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #040018;
    width: 15rem;
    height: 100vh;
    transition: 0.8s;
    display: flex;
    flex-direction: column;
}

.navbar .list {
    display: block;
    cursor: pointer;
    margin-right: 20px;
    font-size: 1.7rem; 
    color: #fff; 
}

.navbar.active ul {
    right: 0;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: #fff;
    display: block;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.navbar ul li a:hover {
    color: #eec71a;
}

/* judul */
.judul .text-judul h6 {
    font-size: 15px;
}

.judul .text-judul h3 {
    font-size: 25px;
}

.judul .text-judul p{
    font-size: 15px;
}

/* Biodata */
.anggota {
    height: 2000px;
}

.anggota .awal h1 {
    font-size: 25px; 
}

.anggota .awal p {
    font-size: 20px; 
}

.anggota .card {
    flex-wrap: wrap;
    height: auto; 
}

.anggota .card .card-menu {
    width: 100%; 
    padding: 20px;
}

.anggota .card .card-menu img {
    width: 70%; 
    border-radius: 20%; 
    margin-bottom: 10px;
}

.anggota .card .card-menu .card-title {
    margin-top: 20px; 
    font-size: 30px;
}

.anggota .card .card-menu button {
    margin-top: 10px;
    font-size: 20px; 
}

.anggota::after {
    height: 15%; 
    transform: translateY(2000%); 
}

/* About Us */
.about .about-us h1 {
    margin-top: 30px;
}
.about .flex-card .about-card,
.about .flex-card .about-card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column; 
    text-align: center; 
}

.about .flex-card .about-card img,
.about .flex-card .about-card1 img {
    width: 70%;
    height: auto;
    border-radius: 20%;
    margin-bottom: 10px;
}

.about .flex-card .about-card .about-text,
.about .flex-card .about-card1 .about-text {
    color: #fff;
}

.about .flex-card .about-card .about-text h2,
.about .flex-card .about-card1 .about-text h2 {
    font-size: 20px;
    text-align: center;
}

.about .flex-card .about-card .about-text p,
.about .flex-card .about-card1 .about-text p {
    width: 100%;
    text-align: center;
    margin-top: 10px; 
}

.about .flex-card .about-card .about-text p, .about .flex-card .about-card .about-text h2 {
  transform: translateX(-5%);
}

}